@page "/"

@*<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div>*@

<div class="game-container" tabindex="0" autofocus @onkeyup=Play>

    <div class="scoreContainer">
        <div class="header">2048 GAME</div>
        <div id="score-contents">
            <div class="score-content">
                <span class="scoreTitle">Target</span>
                <span class="score" id="targetScore">@TargetScore</span>
            </div>
            <div class="score-content">
                <span class="scoreTitle">Score</span>
                <span id="score" class="score">@Score</span>
            </div>
        </div>

    </div>

    <div class="grid">
        @foreach (var item in Squares)
        {
            <div style="color:@GetColor(item);background: @GetBgColor(item)">
                @(item != 0 ? item : "")
            </div>
        }
    </div>
</div>


@code{
    protected override void OnInitialized()
    {
        try
        {
            CreateBoard();
        }
        catch (Exception e)
        {
            throw;
        }
    }
}